<form [formGroup]="backoffice1" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="card-title">Ajouter Agence</div>
      <button mat-raised-button color="accent" class="mt-2 btn" (click)="goBack()">Retour</button>
      <div class="card-content">
        <div class="row">
          <div class="form-field">
            <input type="text" placeholder="Nom" formControlName="nom" required>
          </div>
          <div class="form-field">
            <input type="text" placeholder="Description" formControlName="description" required>
          </div>
          <div class="form-field">
            <input type="file" (change)="onFileSelected($event)" required>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="bt" type="submit">Enregistrer</button>
      <button class="bt" type="button" (click)="onCancel()">Annuler</button>
    </div>
  </form>
  