.container {
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #ff4081;
    border: none;
    color: #f9f9f9;
  }
  
  .btn:hover {
    background-color: #ff4081;
  }
  
  .text-center {
    text-align: center;
  }
  