<div class="container mt-5">
  <h2>Connexion</h2>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" formControlName="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" formControlName="password">
    </div>
    <button type="submit" class="btn ">Connexion</button>
  </form>
</div>
