<div class="container mt-5">
    <h2>Changer le mot de passe</h2>
    <form (ngSubmit)="changePassword()">
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Ancien mot de passe</label>
        <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <button type="submit" class="btn">Changer le mot de passe</button>
    </form>
  </div>
  