.main{
    margin-top: 5%;
}
.headingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.button{
    width: 10%;
   position: absolute;
   right: 10px;
}

.actionButton{
  width: 60px;
  height: 40px;
align-items: center;
text-align: center;
}
.btn-primary {
    
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #ff4081;
    border: none;
    color: #f9f9f9;
  }